{% extends 'base.html.twig' %}

{% block title %}Realisator{% endblock %}

{% block body %}
    <h1>Realisator</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ realisator.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ realisator.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ realisator.lastName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_realisator_index') }}">back to list</a>

    <a href="{{ path('app_realisator_edit', {'id': realisator.id}) }}">edit</a>

    {{ include('realisator/_delete_form.html.twig') }}
{% endblock %}
