{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}
    <h1>Recherche</h1>
    <form action="{{ path('app_movie_search') }}" method="get">
        <input type="text" name="query" placeholder="Rechercher un film" value="{{ query }}" />
        <button type="submit">Rechercher</button>
    </form>

    <div>
        <h1>Résultats de la recherche</h1>

        {% if searchResults is not empty %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Année</th>
                        <th>Réalisateur</th>
                        <th>Catégorie</th>
                        <th>Acteurs</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for movie in searchResults %}
                        <tr>
                            <td>{{ movie.id }}</td>
                            <td>{{ movie.title }}</td>
                            <td>{{ movie.releaseYear|date('d/m/Y') }}</td>
                            <td>{{ movie.realisators|join(', ') }}</td>
                            <td>{{ movie.categories|join(', ') }}</td>
                            <td>{{ movie.actors|join(', ') }}</td>
                            <td>
                                <a href="{{ path('app_movie_show', {'id': movie.id}) }}">Voir</a>
                                <a href="{{ path('app_movie_edit', {'id': movie.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucun résultat trouvé.</p>
        {% endif %}
    </div>

    <div>
        <h1>Résultats de la recherche pour les acteurs</h1>

        {% if searchActors is not empty %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for actor in searchActors %}
                        <tr>
                            <td>{{ actor.id }}</td>
                            <td>{{ actor.firstName }}</td>
                            <td>{{ actor.lastName }}</td>
                            <td>
                                <a href="{{ path('app_actor_show', {'id': actor.id}) }}">Voir</a>
                                <a href="{{ path('app_actor_edit', {'id': actor.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucun acteur trouvé.</p>
        {% endif %}
    </div>
{% endblock %}
