{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1>Game</h1>

    <a href="{{ path('add_games_collection', {'id':game.id}) }}">Ajouter à mes jeux</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ game.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ game.price }}</td>
            </tr>
            <tr>
                <th>IsEnable</th>
                <td>{{ game.isEnable ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ game.picture }}</td>
            </tr>
            <tr>
                <th>LaunchDate</th>
                <td>{{ game.launchDate ? game.launchDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>IsOnline</th>
                <td>{{ game.isOnline ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsMultiplayer</th>
                <td>{{ game.isMultiplayer ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>MinPlayerOffline</th>
                <td>{{ game.minPlayerOffline }}</td>
            </tr>
            <tr>
                <th>MaxPlayerOffline</th>
                <td>{{ game.maxPlayerOffline }}</td>
            </tr>
            <tr>
                <th>MinPlayerOnline</th>
                <td>{{ game.minPlayerOnline }}</td>
            </tr>
            <tr>
                <th>MaxPlayerOnline</th>
                <td>{{ game.maxPlayerOnline }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_game_index') }}">back to list</a>

    <a href="{{ path('app_game_edit', {'id': game.id}) }}">edit</a>

    {{ include('game/_delete_form.html.twig') }}
{% endblock %}
